* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

.main-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: beige;
}

.container {
    background-color: beige;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.navContainer {
    width: 100%;
    height: 40%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    z-index: 1;
    background-color: beige;
}

h1,
h2 {
    margin-left: 30px;
    color: black;
}

#headercontainer {
    background-image: url("https://images.unsplash.com/photo-1620706857370-e1b9770e8bb1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZnJlc2glMjBmb29kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    background-size: 100% 100%;
    width: 100%;
    top: 41%;
    height: 62%;
    padding-bottom: 20px;
    position: absolute;
    margin-right: 20px;
    background-color: beige;
}

.products {
    margin-top: 0;
    background-color: beige;
    padding-top: 40px;
}

.viewmore {
    margin-top: 50%;
    background-color: beige;
}

.next-center {
    text-align: center;
}

#btnview {
    display: inline-block;
    text-align: center;
    background-color: black;
    color: white;
    padding: 0.75rem 0.75rem;
    border-radius: 4px;
    line-height: 0.8;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.4s all ease;
}

#btnview:hover {
    background-color: white;
    color: black;
}

img {
    vertical-align: middle;
}

.imgcontainer {
    position: absolute;
    display: flex;
    margin-left: 25%;
    margin-top: 8%;
}

.showslide {
    display: none;
}


.prev,
.next {
    width: 2%;
    cursor: pointer;
    position: absolute;
    color: blue;
    top: 25%;
    margin-top: -25px;
    padding: 18px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.6s ease;
    user-select: none;
    -webkit-user-select: none;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 29%;
    border-radius: 3px 0 0 3px;
}

.prev {
    right: 99%;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

#topnav {
    padding: 30px;
    width: 100%;
    height: 30%;
    overflow: hidden;
}

#topnav a {
    color: black;
    display: flex;
    justify-content: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
}

#topnav a:hover {
    background-color: orange;
}

#home {
    background-color: orange;
    padding: 14px 20px;
}

#phone {
    padding-left: 10px;
    float: left;
}

#clock {
    padding-right: 20px;
    float: right;
}

#Ricon {
    width: 200px;
    height: 50px;
    content: icon;
}

#card {
    background-color: black;
    width: 100%;
    height: 50px;
    border-radius: 2px;
}

#card a {
    color: white;
    float: right;
    display: inline;
    word-spacing: 10px;
    padding: 16px;
    text-decoration: none;
}

#card a:hover {
    background-color: orange;
    color: black;
}

#loginform {
    display: none;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 60px;
}

#userform {
    background-color: #f1f1f1;
    margin: 20px auto 0 auto;
    border: 2px solid #888;
    width: 40%;
    height: 55%;
}

.btncontainer {
    background-color: #888;
    padding: 20px;
    margin: 5% auto 15% auto;
}

#btnlogin {
    margin: 10px;
    width: 100%;
    background-color: green;
    color: white;
    padding: 12px 20px;
}

#btnread {
    padding: 12px 25px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
}

#sect1 {
    padding: 20px;
    color: black;
}

#btnread:hover {
    background-color: #f1f1f1;
    color: orange;
}

#shop {
    color: orange;
}

#btnshop {
    padding: 12px 25px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
}

#btnshop:hover {
    background-color: #f1f1f1;
    color: black;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 12px 20px;
    margin: 10px;
}

#container {
    padding: 16px;
}

#cancelbtn {
    padding: 8px 8px 0 8px;
    background-color: red;
    color: white;
    border-radius: 2px;
}


#pswbtn {
    float: right;
}

#registercontainer {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding-top: 60px;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#registerform {
    width: 50%;
    height: 60%;
    background-color: #f1f1f1;
    margin: 20px auto 0 auto;
    border: 1px solid #888;
    border-radius: 5px;
}

p {
    margin-left: 20px;
    padding-bottom: 10px;
}

h1 {
    text-align: center;
}

#btnregister {
    background-color: green;
    color: white;
    width: 100%;
    padding: 20px;
}

#btnregister:hover {
    opacity: 0.4;
}

#containerform {
    padding: 16px;
}